{% extends "base.html" %}
{% block content %}
<h1>Zeb's Blog</h1>
<a href="/add">Add a Post</a>
<h2>Published Posts:</h2>
{% for post in post_list %}
{% if post.published_date is not None %}
<div class="post">
   <h2>
      <a href="{% url 'blog_detail' post.pk %}">{{ post }}</a>
   </h2>
   <p class="byline">
   <h6>
      <u>Posted by: </u> {{ post.author.username }} &mdash; {{post.published_date }}
   </h6>
</div>
{% endif %}
{% endfor %}
<h6>Total Posts: {{post_list|length}}</h6>
<a href="/add">Add a Post</a>
{% endblock %}